<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Sentora Core System Module</name>
    <version>100</version>
    <defaultcat>other</defaultcat>
    <type>system</type>
    <desc>Core system modules for Sentora.</desc>
    <authorname>ZPanel Project</authorname>
    <authoremail>ballen@bobbyallen.me</authoremail>
    <authorurl>http://www.zpanelcp.com/</authorurl>
    <updateurl></updateurl>
</module>