<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>FAQ's</name>
    <version>100</version>
    <defaultcat>Advanced</defaultcat>
    <desc>Please find a list of the most common questions from users, if you are unable to find a solution to your problem below please then contact your hosting provider. Simply click on the FAQ below to view the solution.</desc>
    <authorname>ZPanel Project</authorname>
    <authoremail>developers@zpanelcp.com</authoremail>
    <authorurl>http://www.zpanelcp.com/</authorurl>
    <updateurl>http://www.zpanelcp.com/uds/core.xml</updateurl>
</module>