<?xml version="1.0" encoding="utf-8"?>
<module>
    	<name>Module Administration</name>
    	<version>100</version>
    	<defaultcat>Server Admin</defaultcat>
    	<type>Default</type>
    	<desc>Configure module specific settings here.</desc>
    	<scversion>1.0.0</scversion>
    	<authorname>Sentora Project</authorname>
    	<authoremail>developers@sentora.org</authoremail>
    	<authorurl>http://www.sentora.org/</authorurl>
    	<updateurl>http://addons.sentora.org/modules/core.xml</updateurl>
</module>
