<?xml version="1.0" encoding="utf-8"?>
<module>
    	<name>Aliases</name>
    	<version>105</version>
    	<defaultcat>Mail</defaultcat>
    	<type>Default</type>
    	<desc>Using this module you have the ability to create alias mailboxes to existing accounts.</desc>
    	<scversion>1.0.0</scversion>
    	<authorname>Sentora Project</authorname>
    	<authoremail>developers@sentora.org</authoremail>
    	<authorurl>http://www.sentora.org/</authorurl>
    	<updateurl>http://addons.sentora.org/modules/core.xml</updateurl>
</module>
