<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Aliases</name>
    <version>1.0.9</version>
    <defaultcat>Mail</defaultcat>
	<type></type>
    <desc>Using this module you have the ability to create alias mailboxes to existing accounts.</desc>
	<ostype>all</ostype>
	<senversion>1.0.1:1.0.2:1.0.3:2.0.0</senversion>
    <authorname>Sentora Project</authorname>
    <authoremail>info@sentora.org</authoremail>
    <authorurl>http://sentora.org/</authorurl>
	<updateurl>http://store.sentora.org/repo/aliases/aliases.xml</updateurl>
</module>