<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>My Account</name>
    <version>100</version>
    <defaultcat>Account Information</defaultcat>
    <desc>Your current personal account details, we ask that you keep these details up-to-date in case we need to contact you regarding your hosting services.</desc>
    <authorname>Sentora Project</authorname>
    <authoremail>info@sentora.org</authoremail>
    <authorurl>http://sentora.org/</authorurl>
    <updateurl>http://store.sentora.org/version.xml</updateurl>
</module>