<?xml version="1.0" encoding="utf-8"?>
<module>
<name>Distrubution Lists</name>
<version>100</version>
<default-cat>Mail</default-cat>
<desc>This module enables you to create and manage email distrubution groups.</desc>
<author-name>Bobby Allen</author-name>
<author-email>bobbyallen.uk@gmail.com</author-email>
<author-url>http://www.example.com</author-url>
<updateurl>http://www.zpanelcp.com/uds/core.xml</updateurl>
</module>