<?xml version="1.0" encoding="utf-8"?>
<module>
<name>Manage Clients</name>
<version>100</version>
<default-cat>Reseller</default-cat>
<desc>The account manager enables you to view, update and create client accounts.</desc>
<authorname>ZPanel Project</authorname>
<authoremail>developers@zpanelcp.com</authoremail>
<authorurl>http://www.zpanelcp.com/</authorurl>
<updateurl>http://www.zpanelcp.com/uds/core.xml</updateurl>
</module>