/* SenCrypt core css */
body {font-family: Arial;}

/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

	/* Fix bad behavior of styling */
	.active {
		color: inherit;
	}
	
	.actions {
		width: 200px;
		min-width: 200px !important;
		max-width: 300px !important;
	}
	
	.status {
		width: 250px;
		min-width: 200px !important;
		max-width: 300px !important;
	}
	
	div#settings[role="tabpanel"],
	div#single[role="tabpanel"],
	div#wildcard[role="tabpanel"] {
		margin-left: -15px;
		margin-right: -15px;
	}
	
	.zgrid_wrapper.alerts {
		margin-left: 15px;
		margin-right: 15px;
	}
	
	.table thead > tr.first > th,
	.table tbody > tr.first > th,
	.table thead > tr.first > td,
	.table tbody > tr.first > td {
		border-top: inherit;
	}
	
	.nav-tabs > li:first-child {
		margin-left: 10px;
	}
	
	.nav-tabs > li:last-child {
		margin-right: 10px;
	}
	
	.tab-pane {
		margin-bottom: 0px;
	}

	div.panel-heading:not(:first-child) {
		border-top: 2px solid #DDDDDD;
		border-radius: inherit;
		margin-top: -1px;
	}
	
	.zmodule_content.panel {
		padding-bottom: 0px;
	}

	.buttons td {
		background-color: inherit !important;
	}
	
	.no-domains {
		margin-bottom: 25px;
	}
	
	th.icon {
		width: 30px;
		text-align: center;
		padding: 15px 0px 15px 10px !important;
	}
	
	th.icon img {
		min-width: 24px;
	}
