<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>phpSysInfo</name>
    <version>100</version>
    <defaultcat>Server Admin</defaultcat>
    <desc>phpSysInfo is a web-based server hardware monitoring tool which enables you to see detailed hardware statistics of your server.</desc>
    <authorname>Sentora Project</authorname>
    <authoremail>info@sentora.org</authoremail>
    <authorurl>http://sentora.org/</authorurl>
    <updateurl>http://store.sentora.org/version.xml</updateurl>
</module>