<?xml version="1.0" encoding="utf-8"?>
<module>
    	<name>Cron Manager</name>
    	<version>105</version>
    	<defaultcat>Advanced</defaultcat>
    	<type>Default</type>
    	<desc>Here you can configure PHP scripts to run automatically at different time intervals.</desc>
    	<scversion>1.0.0</scversion>
    	<authorname>Sentora Project</authorname>
    	<authoremail>developers@sentora.org</authoremail>
    	<authorurl>http://www.sentora.org/</authorurl>
    	<updateurl>http://addons.sentora.org/modules/core.xml</updateurl>
</module>
