<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Sencrypt SSL</name>
    <version>300</version>
    <defaultcat>Domain Management</defaultcat>
    <desc>Sencrypt is a SSL module to Add/Manage SSL certificates for Lets Encrypt or Third-Party SSL Request(s)/Setup for your domains.</desc>
    <authorname>TGates</authorname>
    <authoremail>tgates@sentora.org</authoremail>
    <authorurl>sentora.org</authorurl>
    <updateurl>http://repo.sentora.org/repo/sencrypt.zpp</updateurl>
</module>