<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>WebMail</name>
    <version>100</version>
    <defaultcat>Mail</defaultcat>
    <desc>Webmail is a convenient way for you to check your email accounts online without the need to configure an email client.</desc>
    <authorname>ZPanel Project</authorname>
    <authoremail>developers@zpanelcp.com</authoremail>
    <authorurl>http://www.zpanelcp.com/</authorurl>
    <updateurl>http://www.zpanelcp.com/uds/core.xml</updateurl>
</module>