<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Backup</name>
    <version>100</version>
    <defaultcat>Advanced</defaultcat>
    <desc>The backup manager module enables you to backup your entire hosting account including all your MySQL® databases.</desc>
    <authorname>Sentora Project</authorname>
    <authoremail>info@sentora.org</authoremail>
    <authorurl>http://sentora.org/</authorurl>
    <updateurl>http://store.sentora.org/version.xml</updateurl>
</module>