<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Maanage Groups</name>
    <version>100</version>
    <defaultcat>Reseller</defaultcat>
    <desc>Manage user groups to enable greater module permissions.</desc>
    <authorname>ZPanel Project</authorname>
    <authoremail>developers@zpanelcp.com</authoremail>
    <authorurl>http://www.zpanelcp.com/</authorurl>
    <updateurl>http://www.zpanelcp.com/uds/core.xml</updateurl>
</module>