<?xml version="1.0" encoding="utf-8"?>
<module>
	<name>Protected Directories</name>
	<version>300</version>
	<defaultcat>Advanced</defaultcat>
	<desc>Password protect your web applications and directories.</desc>
    <authorname>Sentora Project</authorname>
    <authoremail>info@sentora.org</authoremail>
    <authorurl>http://sentora.org/</authorurl>
    <updateurl>http://store.sentora.org/version.xml</updateurl>
</module>