<?xml version="1.0" encoding="utf-8"?>
<module>
<name>Forwards</name>
<version>100</version>
<default-cat>Mail</default-cat>
<desc>Using this module you have the ability to create mail forwarders.</desc>
<author-name>Bobby Allen</author-name>
<author-email>bobbyallen.uk@gmail.com</author-email>
<author-url>http://www.example.com</author-url>
<update-url>http://www.example.com/products/test-module/updateservice.xml</update-url>
</module>