.disabled {
	/* for IE */
	filter:alpha(opacity=40);
	opacity: 0.40;
}
/* @account */
div.account > div.content > div > div.actions {
	position: absolute;
	top: 0;
	right: 0;
	vertical-align: top;
	}
div.account > div.content > div > div.actions > a {
	display: inline-block;
	width: 68px;
	min-height: 38px;
	background-position: 50% 4px;
	background-repeat: no-repeat;
	padding-top: 28px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	}
div.account > div.content > div > div.actions > a.disabled:hover {
	background-color: inherit;
	cursor: default;
	color: #005297;
	}
div.account > div.content > div > div.actions > a.hidden {
	display: none;
	}
div.account > div.content > div > div.actions > a.back {
	background-image: url(./domains.png);
	cursor: pointer;
	}
div.account > div.content > div > div.actions > a.undo {
	background-image: url(./undo.png);
	cursor: pointer;
	}
div.account > div.content > div > div.actions > a.save {
	background-image: url(./data_into.png);
	cursor: pointer;
	}
/* @end */

/* @accountTitle */
div.accountTitle > div.content {
	position: relative;
	min-height: 60px;
	}
div.accountTitle > div.content > div > strong,
div.accountTitle > div.content > div > a {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin: 12px 6px 6px 14px;
	/* color: black; */
	}
div.accountTitle > div.content > div > a {
	border-bottom: 1px dotted gray;
	text-decoration: none;
	}
div.accountTitle > div.content > div > a:hover {
	border-bottom: 1px solid gray;
	cursor: pointer;
	}
/* @end */



#dnsAddDomain input.text {
	border: 1px solid silver;
	width: 22em;
	margin-right: 30px;
	}

#dnsAddDomain input {
	vertical-align: bottom;
	}

/* @dnsInfo */
#dnsInfo {
	position: relative;
	}

#dnsInfo span {
	display: inline-block;
	width: 10em;
	text-align: right;
	padding-right: 0.6em;
	}

#dnsInfo em {
	position: relative;
	font-style: normal;
	font-weight: bold;
	}

#dnsInfo div.soa {
	margin-top: 24px;
	}

/* @end */

#dnsRecords .ui-tabs-panel {
	min-height:250px;
	/*
	height: 440px;
	overflow: auto;
	*/
}

#dnsRecords div.header {
	}

#dnsRecords div.row {
	border-bottom: 1px solid silver;
	position: relative;
	}

#dnsRecords div.dnsRecord, #dnsRecords div.add {
	height: 26px;
	padding-top: 6px;
	/* color: black; */
	}

#dnsRecords div.dnsRecord:hover, #dnsRecords div.add:hover {
	background-color: #e8e3e3;
	color: inherit;
	}

#dnsRecords div.dnsRecordError {
	background-color: #bf7979;
	color: white;
	height: 52px;
	}

#dnsRecords div.records > div.description {
	display: block;
	margin: 4px;
	margin-bottom: 12px;
	padding-left: 32px;
	padding-top: 1px;
	background: url(./information_big.png) no-repeat 0 0;
	/* color: #949494; */
	min-height: 28px;
	}

#dnsRecords div.row > div {
	display: inline-block;
	margin-right: 8px;
	vertical-align: middle;
	height: 26px;
	}
#dnsRecords div.header > div {
	height: 100%;
}

#dnsRecords div.row > br {
	clear: both;
	}

#dnsRecords div.records > div.deleted {
	display: none;
	}


#dnsRecords div.row > div > label {
	display: inline-block;
	font-weight: bold;
	font-size: 9pt;
	/* color: #999999; */
	margin-bottom: 0;
	padding-bottom: 1px;
	width: 100%;
	}

#dnsRecords div.row > div > span {
	overflow: hidden;
	white-space: nowrap;
	}

#dnsRecords div.row > div > input {
	border: 1px solid silver;
	width: 100%;
	}

#dnsRecords div.row > div.actions > label {
	width: 50px;
	position: absolute;
	right: 0;
	top: 1px;
	}

#dnsRecords div.row > div.hostName {
	width: 140px;
	}

#dnsRecords div.dnsRecord > div.hostName {
	text-align: right;
	}
#dnsRecords div.dnsRecord > div.hostName > span {
	display: inline-block;
	padding-top: 4px;
	width: 100%;
	}
#dnsRecords div.dnsRecord > div.hostName > span:hover {
	cursor: help;
	}

#dnsRecords div.dnsRecord > div.hostName > input {
	display: inline-block;
	width: 136px;
	margin-left: 4px;
	}
#dnsRecords div.row > div.in {
	width: 14px;
	text-align: center;
	}
#dnsRecords div.row > div.type,
#dnsRecords div.dnsRecordA > div.row > div.type {
	width: 12px;
	text-align: center;
	}

#dnsRecords div.dnsRecordMX > div.row > div.type,
#dnsRecords div.dnsRecordNS > div.row > div.type {
	width: 24px;
	}

#dnsRecords div.dnsRecordTXT > div.row > div.type,
#dnsRecords div.dnsRecordSRV > div.row > div.type,
#dnsRecords div.dnsRecordSPF > div.row > div.type,
#dnsRecords div.dnsRecordPTR > div.row > div.type {
	width: 34px;
	}

#dnsRecords div.dnsRecordAAAA > div.row > div.type {
	width: 44px;
	}

#dnsRecords div.dnsRecordCNAME > div.row > div.type,
#dnsRecords div.dnsRecordNAPTR > div.row > div.type {
	width: 54px;
	}


#dnsRecords div.dnsRecordURL > div.row > div.in,
#dnsRecords div.dnsRecordURL > div.row > div.type,
#dnsRecords div.dnsRecordPROXY > div.row > div.in,
#dnsRecords div.dnsRecordPROXY > div.row > div.type,
#dnsRecords div.dnsRecordSOA > div.row > div.in,
#dnsRecords div.dnsRecordSOA > div.row > div.type {
	display: none;
	}

#dnsRecords div > div.row > div.target {
	width: 200px;
	}

#dnsRecords div.dnsRecordURL > div.row > div.target,
#dnsRecords div.dnsRecordPROXY > div.row > div.target {
	width: 470px;
	}
#dnsRecords div.dnsRecordCNAME > div.row > div.target,
#dnsRecords div.dnsRecordTXT > div.row > div.target,
#dnsRecords div.dnsRecordSPF > div.row > div.target {
	width: 360px;
	}

#dnsRecords div.row > div.TTL,
#dnsRecords div.row > div.priority {
	width: 54px;
	}

#dnsRecords div.row > div.weight {
	width: 50px;
	}
#dnsRecords div.row > div.port {
	width: 38px;
	}

#dnsRecords #typeSOA div.dnsRecord {
	height: auto;
	border-bottom: none;
}
#dnsRecords #typeSOA div.dnsRecord > div {
	height: auto;
}

#dnsRecords #typeSOA div.dnsRecord:hover {
	background-color: inherit;
	}

#dnsRecords #typeSOA div.row > div {
	width: 80px;
	}

#dnsRecords #typeSOA div.row > div.primary,
#dnsRecords #typeSOA div.row > div.hostmaster {
	display: inline-block;
	clear: both;
	width: 300px;
	}

#dnsRecords #typeSOA div.row > div.serial {
	width: 100px;
	}

#dnsRecords div.row > div.order,
#dnsRecords div.row > div.preference,
#dnsRecords div.row > div.flags {
	width: 70px;
	}

#dnsRecords div.row > div.service,
#dnsRecords div.row > div.regex {
	width: 80px;
	}
#dnsRecords div.row > div.replacement {
	width: 90px;
	}

#dnsRecords div.records > div.hidden {
	display: none;
	}

#dnsRecords div.records > div.add > span {
	margin: 0 auto;
	/* background: url(./add.png) no-repeat 0 3px; */
	padding-left: 20px;
	display: block;
	height: 22px;
	width: 230px;
	}
#dnsRecords div.records > div.add > span:hover {
	cursor: pointer;
	}
#dnsRecords div.records > div.add > span > span {
	/* border-bottom: 1px dotted black; */
	vertical-align: middle;
	}

#dnsRecords div.dnsRecord > span.delete {
	padding: 0;
	margin-left: 4px;
	width: 16px;
	height: 16px;
	background: url(./delete_small.png) no-repeat 0 0;
	position: absolute;
	right: 0;
	top: 8px;
	}
#dnsRecords div.dnsRecord > span.delete:hover {
	cursor: pointer;
	}

#dnsRecords div.dnsRecord > span.undo {
	padding: 0;
	margin-left: 4px;
	width: 16px;
	height: 16px;
	background: url(./undo_small.png) no-repeat 0 0;
	display: none;
	position: absolute;
	right: 22px;
	top: 8px;
}
#dnsRecords div.dnsRecord > span.undo:hover {
	cursor: pointer;
	}

#dnsRecords div.row > div.errorMessage {
	background: url(/icons/16x16/plain/error.png) no-repeat 10px 1px;
	padding-left: 30px;
	display: block;
	clear: both;
	font-weight: bold;
	}

#dnsRecords div.dnsRecordError > span.undo {
		display: inline;
	}

#dnsRecords div.help  {
	background: url(/icons/24x24/plain/information.png) no-repeat 0 4px;
	padding-left: 30px;
	}


#dnsImport div.content > div {
	padding: 1em;
	border-top: 1px solid silver;
	}
#dnsImport div.content > div:hover {
	background-color: #e8e3e3;
	color: inherit;
	}

#dnsImport div.content > div > label {
	}
#dnsImport div.content > div > textarea {
	width: 90%;
	margin-top: 4px;
	margin-left: 24px;
	border: 1px solid silver;
	height: 10em;
	}

#dnsImport div.content > div > input.axfr {
	width: 10em;
	margin-top: 4px;
	margin-left: 24px;
	border: 1px solid silver;
	padding-left: 18px;
	background: url(/icons/16x16/plain/server.png) no-repeat 0 2px white;
	min-height: 18px;
	}

#dnsImport div.content > div.description {
	padding: 1em;
	border-top: none;
	}
#dnsImport div.content > div.description:hover {
	background-color: inherit;
	}
#dnsImport div.content > div > span.example {
	padding-left: 10px;
	}


#dnsExport div.content > div.output {
	white-space: pre;
	background-color: white;
	font-size: 12px;
	font-family: monospace;
	overflow: auto;
	padding: 1em;
	height: 440px;
	}






.inlineBlock {
	display: inline-block;
	}

.tabError {
	background-color: #bf7979;
	}

.ui-tabs .ui-tabs-panel {
	padding: 0.6em 0.5em;
	}
