<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>DNS Manager</name>
    <version>100</version>
    <defaultcat>Domain Management</defaultcat>
    <desc>You can use the DNS Manager to manage the DNS for your domain names</desc>
    <authorname>ZPanel Project</authorname>
    <authoremail>developers@zpanelcp.com</authoremail>
    <authorurl>http://www.zpanelcp.com/</authorurl>
    <updateurl>http://www.zpanelcp.com/uds/core.xml</updateurl>
</module>