<?xml version="1.0" encoding="utf-8"?>
<module>
<name>PHP Info</name>
<version>100</version>
<default-cat>other</default-cat>
<desc>A test module for testing ZPX module handling.</desc>
<author-name>Bobby Allen</author-name>
<author-email>bobbyallen.uk@gmail.com</author-email>
<author-url>http://www.example.com</author-url>
<update-url>http://www.example.com/products/test-module/updateservice.xml</update-url>
</module>