<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>PHP Info</name>
    <version>100</version>
    <defaultcat>Server Admin</defaultcat>
    <desc>PHPInfo provides you with information regarding the version of PHP running on this system as well as installed PHP extensions and configuration details.
    </desc>
    <authorname>ZPanel Project</authorname>
    <authoremail>developers@zpanelcp.com</authoremail>
    <authorurl>http://www.zpanelcp.com/</authorurl>
    <updateurl>http://www.zpanelcp.com/uds/core.xml</updateurl>
</module>