@import url("../inc/navbar/theme/redmond/jquery-ui-1.8.17.custom.css");
@import url("../inc/navbar/fg.menu.css");
@import url("../inc/jquery.qtip.min.css");
* {
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    margin: 0px;
}
body{
    /* display: none; */
    text-align:left;
    height:100%;


    background:url(../images/bkg-texture.png) #F3F3F3;
    font-size: 62.5%;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
a {
    outline: 0;
}
#button {
    outline: 0;
}
object, embed {
    outline: 0;
}
input::-moz-focus-inner { border: 0; }
h3{
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 14pt;
    color: #ECF5F9;
    font-weight: bold;
    border-width: 2px;
    border-bottom-style: solid;
    border-color: #ECF5F9;
    margin-bottom:10px;
    margin-right:20px;
    line-height:40px;
}
h1{
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 24pt;
    color: #006699;
    font-weight: lighter;
    line-height:50px;
}
h2{
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 14pt;
    /*color: #999999;*/
    color: #006699;
    font-weight: lighter;
    line-height:50px;
}
hr{
    color:#E5F0F1;
}
p{	
    /* text-indent:20px; */
    text-align:left;
    padding:0px;
    margin-bottom:20px;
    vertical-align:top;
}
a img{
    border: none;
}
td{
    text-align:left;
    border: none;
    padding: 0px;
    border-spacing:0px;
}
th{
    text-align:left;
    padding:0px;
    border: none;
    border-spacing:0px;
}
table{
    text-align:left;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

}
fieldset{
    padding: 10px;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 9pt;
    border:solid 2px #E5F0F1;
    background-color:#F3F3F3;
}
label{
    color:#1587CA;
    float:left;
    width:25%;
    margin-right:10px;
    padding-top:10px;
    text-align:left;
    font-weight:bold;
}
.legendhead{
    color:#1587CA;
    font-weight:bold;
    font-size:14px;
}
#none{
    background:none;
    background-image:none;
    border:none;
}
#none th{
    background:none;
    background-image:none;
    border:none;
}
#none td{
    background:none;
    background-image:none;
    border:none;
}

/** THEME RELATED CSS ATTRIBUTES!! **/

#logo_small{
    border:none;
    float:left;
    padding-top:5px;
    padding-left:5px;
}
a.logo_small{
    border:none;
    float:left;
}
.statsdata{
    font-size: 8pt;
    text-align:center;
    margin:0px;
    padding:0px;
    background-color: #FFFFFF;
    border-left:1px solid #E5F0F1;
    border-right:1px solid #E5F0F1;
    border-spacing:0px;
    min-width:305px;
}
.statsdata td{
    text-align:left;
    width:100%;
    margin:0px;
    padding:5px;
    background-color: #FFFFFF;
    border-spacing:0px;
    background:#F1F4F6;
    vertical-align:top;
    border-top:0px;
    border-left:0px solid #E5F0F1;
    border-right:0px solid #E5F0F1;
    border-bottom:1px solid #E5F0F1;
}
.statsdata th{
    height:41px;
    margin:0px;
    padding:0px;
    background:#FFFFFF url(../images/statsdata_th_center.png) left top repeat-x;
    color: #FFFFFF;
    font-weight:bold;
    text-align: left;
    border-spacing:0px;
    border-top:0px;
    border-left:solid 1px #CCC;
    border-right:solid 1px #CCC;
    border-bottom:0px;
    text-indent:10px;
}
.copypower{
    text-align:left;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 8pt;
    color: #333333;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #888888;
    border-right-color: #888888;
    border-bottom-color: #888888;
    border-left-color: #888888;
    padding: 10px;
}
.copypower a{
    color: #1587CA;
    text-decoration:none;
}
.copypower a:link{
    color: #1587CA;
    text-decoration:none;
}
.copypower a:hover{
    color: #1587CA;
    text-decoration:none;
}
.copypower a:active{
    color: #1587CA;
    text-decoration:none;
}
.main{
    padding: 10px;
    background-color: #FFFFFF;
}
#header{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index:9999;
    min-width:1000px;
}
#header_top{
    background: url(../images/statsdata_th_center.png) #4b4d4a repeat-x center top;
    height: 41px;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    position: relative;
}
a.header_top{
    background: url(../images/arrow_up.png) no-repeat;
    border:none;
    float:right;
    width:24px; height:24px;
    display:block;
    cursor:pointer;
    padding-right:0px; 
}
a.header_top_small{
    background: url(../images/arrow_down.png) no-repeat;
    border:none;
    float:right;
    width:24px; height:24px;
    display:block;
    cursor:pointer;
    padding-right:0px; 
}
#header_middle{
    background: url() #4b4d4a repeat-x center top;
    border-bottom:solid 1px #ffffff;
    height: 6px;
    width: 100%;
}
#header_bottom{
    background: url() #dddddd repeat-x center top;
    border-bottom:solid 1px #B3B3B3;
    height: 80px;
    position: relative;
}
#header_overlay{
    background: url(../images/bg_top_overlay.png) no-repeat center top;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 8px;
    padding-left: 0px;
    width:100%;
}
#header_spacer{
    display:block;
    margin-top: 41px;
    height: 1px;
}
#arrow_small_left span{
    display:block;
}
#arrow_small_right span{
    display:block;
}
.mainlayout{
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 9pt;
    color: #333333;
    padding:0px;
    margin: 0px;
    border-spacing:0px;
    background:#FFFFFF;
}
.mainlayout_content{
    min-width:750px;
}
.mainlayout_content td{
    margin: 0px;
    padding-right: 12px;
    border-spacing:0px;
}
.mainlayout a{
    color:#006699;
    text-decoration: none;
}
.mainlayout a:visited{
    color:#006699;
    text-decoration: none;
}
.mainlayout a:hover{
    color:#669933;
    text-decoration: underline;
}
#content{
    margin-top: 40px;
}
.center{
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    margin: 0px;
    width: 960px;
    height: 100%;
}
#status{
    width:50%;
    padding:10px;
    outline:none;
    height:36px;
}
.focusField{
    border:solid 1px #55A7C8;
    background:#ECF5F9;
    color:#000;
    outline:none;
}
.idleField{
    background:#FFFFFF;
    color: #6F6F6F;
    border: solid 1px #DFDFDF;
    outline:none;
}
#header_links{
    float:right;
    text-align:right;
    color:#333333;
    padding-right:15px;
    padding-left:0px;
    padding-top:0px;
    padding-bottom:0px;
}
#header_links_small{
    float:right;
    text-align:right;
    color:#333333;
    line-height:5px;
    padding-right:30px;
    padding-left:0px;
    padding-top:5px;
    padding-bottom:0px;
}
#header_arrows{
    float:right;
    padding-right:0px;
    padding-left:0px;
    padding-top:0px;
    padding-bottom:0px;
}
#header_arrows_small{
    float:right;
    padding-right:0px;
    padding-left:0px;
    padding-top:5px;
    padding-bottom:0px;
}
#time{
    float:right;
    color:#333333;
    text-shadow:1px 1px 5px #E5F0F1;
    line-height:12px;
    padding-right:0px;
    padding-left:0px;
    padding-top:20px;
    padding-bottom:0px;
    width:350px;
}
#jclock{
    float:right;
    color:#333333;
    font-size:14px;
    text-shadow:1px 1px 5px #E5F0F1;
    font-weight:bold;
    padding-left:5px;
    padding-top:20px;
    line-height:12px;
}
a.statsdata_accountinfo{
    background: url(../images/udarrows.png) no-repeat;
    border:none;
    float:right;
    width:36px; height:14px;
    display:block;
    cursor:pointer;
    padding-right:10px; 
}
a.statsdata_serverinfo{
    background: url(../images/udarrows.png) no-repeat;
    border:none;
    float:right;
    width:36px; height:14px;
    display:block;
    cursor:pointer;
    padding-right:10px; 
}
a.statsdata_domaininfo{
    background: url(../images/udarrows.png) no-repeat;
    border:none;
    float:right;
    width:36px; height:14px;
    display:block;
    cursor:pointer;
    padding-right:10px; 
}
statsdata_wrapper{
    border:none;
    display:block;
    margin:0;
    padding:0;
    min-width:300px;
}
#statsdata_wrapper_a{

}
img.mainlayout_tleft{
    width:15px;
    height:20px;
    background:url(../images/mainlayout_tleft_white.png) 0 0;
}
img.mainlayout_tright{
    width:15px;
    height:20px;
    background:url(../images/mainlayout_tright_white.png) 0 0;
}
td.mainlayout_tcenter{
    background:url(../images/mainlayout_tcenter_white.png) repeat-x;
}
img.mainlayout_bleft{
    width:15px;
    height:15px;
    background:url(../images/mainlayout_bleft_white.png) 0 0;
}
img.mainlayout_bright{
    width:15px;
    height:15px;
    background:url(../images/mainlayout_bright_white.png) 0 0;
}
td.mainlayout_bcenter{
    background:url(../images/mainlayout_bcenter_white.png) repeat-x;
}
td.mainlayout_right{
    border-right: 1px solid #DADADA;
}
td.mainlayout_left{
    border-left: 1px solid #DADADA;
}
img.raquo{
    background: url(../images/raquo.png) 0 0;
    float:left;
    margin-right:5px;
    width:7px;
    height:13px;
}
span.Side_Info_used{
    float:left;
    min-width:40px;
    margin-right:20px;
    background-color:#E5F0F1;
}
span.Side_Info_max{
    float:left;
    min-width:40px;
    background-color:#E5F0F1;
}
span.Side_Info_used_header{
    float:left;
    min-width:40px;
    margin-right:20px;
}
span.Side_Info_max_header{
    float:left;
    min-width:40px;
}
span.Side_Info_None{
    color:#999999;
}

/** ZPANEL SPECIFIC CSS ATTRIBUTES!! **/

.zcat{
    text-align:left;
    width:100%;
    margin:0px;
    padding:0px;
    background-color: #000;
    border-spacing:0px;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-bottom:0px;
}
.zcat th{
    height:41px;
    margin:0px;
    padding:0px;
    background:#FFFFFF url(../images/zcat_th_center.png) left top repeat-x;
    color: #333;
    font-weight:bold;
    text-align: left;
    border-spacing:0px;
    border-top:0px;
    border-left:solid 1px #CCC;
    border-right:solid 1px #CCC;
    border-bottom:0px;
    text-indent:10px;
    /*
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    */
}
.zcat td{
    margin:0px;
    padding:0px;
    background:#FFFFFF url(../images/zmodule_td.png) left top repeat-x;
    vertical-align:top;
    border-top:0px;
    border-left:1px solid #E5F0F1;
    border-right:1px solid #E5F0F1;
    border-bottom:1px solid #E5F0F1;
}
.zcatcontent{
    text-align:left;
    margin:0px;
    padding:0px;
    padding-left:10px;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-bottom:0px;
}
.zcatcontent td{
    margin:0px;
    padding:0px;
    background:none;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-bottom:0px;
    padding-right:15px;
    padding-top:8px;
    padding-bottom:8px;
}
a.zcat{
    background: url(../images/udarrows.png) no-repeat;
    border:none;
    float:right;
    width:36px; height:14px;
    display:block;
    cursor:pointer;
    padding-right:10px; 
}
.zform_wrapper{
    background:#F1F4F6 url(../images/zgrid_zform_wrapper.png) left top repeat-x;
    border:solid 1px #DFDFDF;
    /*
    border:solid 1px #E5F0F1;
    */
    margin-bottom:20px;
    margin-top:20px;
    padding-top:0px;
    padding-bottom:20px;
    padding-right:0px;
    padding-left:20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    min-height:100px;
}
.zform{
    text-align:left;
    /*
    background-color: #FFF;
    border-bottom:0px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    border-top:1px solid #CCCCCC;
    */
    border-spacing:0px;
    padding-right:20px;

}
.zform td{
    padding:5px;
    /*
    background-color: #F7F7F7;
    background:#F7F7F7 url(../images/td_back.png) left top repeat-x;
    border-top:1px solid #FFFFFF;
    border-bottom:1px solid #CCCCCC;
    */
    border-spacing:0px;
}
.zform th{
    padding:5px;
    /*
    background-color: #E5F0F1;
    border-top:1px solid #FFFFFF;
    border-bottom:1px solid #CCCCCC;
    /*z
    /*background:#FFFFFF url(../images/zcat_td.png) left top repeat-x;*/
    /* background:#ECECEC url(../images/th_back.png) left top repeat-x;*/
    color: #333;
    font-weight:bold;
    text-align: left;
    border-spacing:0px;
}
.zgrid_wrapper{
    background:#F1F4F6 url(../images/zgrid_zform_wrapper.png) left top repeat-x;
    border:solid 1px #DFDFDF;
    /*
    border:solid 1px #E5F0F1;
    */
    margin-bottom:20px;
    margin-top:20px;
    padding-top:0px;
    padding-bottom:20px;
    padding-right:0px;
    padding-left:20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    min-height:100px;
}
.zgrid{
    text-align:left;
    min-width:75%;
    /*
    background-color: #FFF;
    border-bottom:0px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    border-top:1px solid #CCCCCC;
    */
    border-spacing:0px;
    padding-right:20px;
}
.zgrid td{
    padding:5px;
    /*
    background-color: #F7F7F7;
    background:#F7F7F7 url(../images/td_back.png) left top repeat-x;
    border-top:1px solid #FFFFFF;
    border-bottom:1px solid #CCCCCC;
    */
    border-bottom:1px solid #DFDFDF;
    border-spacing:0px;
}
.zgrid th{
    padding:5px;
    /*
    background-color: #E5F0F1;
    border-top:1px solid #FFFFFF;
    border-bottom:1px solid #CCCCCC;
    */
    /*background:#FFFFFF url(../images/zcat_td.png) left top repeat-x;*/
    /* background:#ECECEC url(../images/th_back.png) left top repeat-x; */
    border-bottom:1px solid #DADEE2;
    color: #333;
    font-weight:bold;
    text-align: left;
    border-spacing:0px;
}
.zannounce{
    min-height:20px;
    background-color: #ECF5F9;
    border:solid 1px #55A7C8;
    font-weight:normal;
    text-align: left;
    padding:10px;
    color:#2266AA;
}
.zannounceok{
    min-height:20px;
    background-color: #ECF5F9;
    border:solid 1px #55A7C8;
    font-weight:normal;
    text-align: left;
    padding:10px;
    color:#2266AA;
}
.zannounceerror{
    min-height:20px;
    background-color: #FFCBCB;
    border:solid 1px #C11B17;
    font-weight:normal;
    text-align: left;
    padding:10px;
    color:#C11B17;
}
.zannouncecaution{
    min-height:20px;
    background-color: #FFFFA3;
    border:solid 1px #F1D031;
    font-weight:normal;
    text-align: left;
    padding:10px;
    color:#444444;
}
.zannounce_a{
    text-align:left;
    width:100%;
    margin:0px;
    padding:0px;
    background-color: #000;
    border-spacing:0px;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-bottom:0px;
}
a.zannounce_a{
    background: url(../images/zannounce_close.png) no-repeat;
    border:none;
    float:left;
    width:16px; height:16px;
    display:block;
    cursor:pointer;
    padding:0;
    margin-right:10px;
}
.zdebug{
    background-color: #FFCBCB;
    border:solid 1px #C11B17;
    font-weight:normal;
    text-align: left;
    margin: 10px;
    padding:10px;
    color:#C11B17;
}
.dbwarning{
    background-color: #FFCBCB;
    border:solid 1px #C11B17;
    font-weight:normal;
    text-align: left;
    margin: 10px;
    padding:10px;
    color:#C11B17;
}
.znotice{
    min-height:20px;
    background-color: #FFFFA3;
    border:solid 1px #F1D031;
    font-weight:normal;
    text-align: left;
    padding:10px;
    margin-bottom:20px;
    color:#444444;
}
a.znotice{
    background: url(../images/notices.png) no-repeat;
    border:none;
    float:left;
    width:35px; height:26px;
    display:block;
    cursor:pointer;
    padding:0;
    margin-right:10px;
}
.zshadowbar{
    min-height:20px;
    background-color: #FFCBCB;
    border:solid 1px #C11B17;
    font-weight:normal;
    text-align: left;
    padding:10px;
    margin-bottom:20px;
    color:#C11B17;
}
a.zshadowbar{
    background: url(../images/shadowing.png) no-repeat;
    border:none;
    float:right;
    width:36px; height:14px;
    display:block;
    cursor:pointer;
    padding-right:10px; 
}
.zshadowbar a:hover{
    color: #C11B17;
    text-decoration:none;
}
.zmodule_header{
    height:41px;
    margin:0px;
    padding:0px;
    background:#FFFFFF url(../images/zcat_th_center.png) left top repeat-x;
    color: #006699;
    font-weight:bold;
    text-align: left;
    border-spacing:0px;
    border-top:0px;
    border-left:solid 1px #CCC;
    border-right:solid 1px #CCC;
    border-bottom:0px;
    text-indent:10px;
    line-height:3em;
}
.zmodule_header img{
    float:left;
}
.zmodule_content{
    margin:0px;
    padding:0px;
    background:#FFFFFF url(../images/zmodule_td.png) left top repeat-x;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-bottom:0px;
    padding-right:0px;
    padding-top:20px;
    padding-bottom:8px;
}
.zloader {
    position: fixed;
    top: 0;
    left: 0;
    text-align:center;
    z-index:99992;
    width: 100%;
    height: 100%;
}
.zloader_overlay {
    position: fixed;
    top: 0;
    left: 0;
    text-align:center;
    z-index:99991;
    width: 100%;
    height: 100%;
    background-color:#000;
    opacity:0.5;
    cursor:wait;
}
.zloader_content {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -110px; /* half width of the loader gif */
    margin-top: -11px; /* half height of the loader gif */
    text-align:center;
    width: 220px; /* width of the loader gif */
    height: 21px; /*hight of the loader gif +2px to fix IE8 issue */
    z-index:99992;
}

/** JQUERY NAV BAR!! **/
#znavbar{
    border:none;
    float:right;
    padding-left:5px;
    margin-right:15px;
}
#znavbar_small{
    border:none;
    float:right;
    padding-top:5px;
    padding-left:5px;
    padding-right:15px;
}

/** JQUERY UI TABS BACKGROUND **/
.ui-tabs .ui-tabs-panel {
    background-color: #F1F4F6;
}
