<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Mail Admin</name>
    <version>1.0.3</version>
    <defaultcat>Admin</defaultcat>
	<type></type>
    <desc>This module enables you to configure mail settings for your hosting accounts.</desc>
	<ostype>all</ostype>
	<senversion>1.0.1:1.0.2:1.0.3:2.0.0</senversion>
    <authorname>Sentora Project</authorname>
    <authoremail>info@sentora.org</authoremail>
    <authorurl>http://sentora.org/</authorurl>
    <updateurl>http://store.sentora.org/repo/mail_admin/mail_admin.xml</updateurl>
</module>