<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Mail Boxes</name>
    <version>100</version>
    <defaultcat>Mail</defaultcat>
    <desc>Using this module you have the ability to create IMAP and POP3 Mailboxes.</desc>
    <authorname>Sentora Project</authorname>
    <authoremail>info@sentora.org</authoremail>
    <authorurl>http://sentora.org/</authorurl>
    <updateurl>http://store.sentora.org/version.xml</updateurl>
</module>