<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Updates</name>
    <version>100</version>
    <defaultcat>Server Admin</defaultcat>
    <desc>Check to see if there are any available updates to your version of the Sentora software.</desc>
    <authorname>Sentora Project</authorname>
    <authoremail>info@sentora.org</authoremail>
    <authorurl>http://sentora.org/</authorurl>
    <updateurl>http://store.sentora.org/version.xml</updateurl>
</module>