<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Updates</name>
    <version>100</version>
    <defaultcat>Server Admin</defaultcat>
    <desc>Check to see if there are any available updates to your version of the ZPanel software.</desc>
    <authorname>ZPanel Project</authorname>
    <authoremail>developers@zpanelcp.com</authoremail>
    <authorurl>http://www.zpanelcp.com/</authorurl>
    <updateurl>http://www.zpanelcp.com/uds/core.xml</updateurl>
</module>