<?xml version="1.0" encoding="utf-8"?>
<module>
<name>ZPanel News</name>
<version>100</version>
<default-cat>Server Admin</default-cat>
<desc>Find out all the latest news and infomation from the ZPanel project.</desc>
<authorname>ZPanel Project</authorname>
<authoremail>developers@zpanelcp.com</authoremail>
<authorurl>http://www.zpanelcp.com/</authorurl>
<updateurl>http://www.zpanelcp.com/uds/core.xml</updateurl>
</module>