<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Sentora News</name>
    <version>100</version>
    <defaultcat>Server Admin</defaultcat>
    <desc>Find out all the latest news and infomation from the Sentora project.</desc>
    <authorname>Sentora Project</authorname>
    <authoremail>info@sentora.org</authoremail>
    <authorurl>http://sentora.org/</authorurl>
    <updateurl>http://store.sentora.org/version.xml</updateurl>
</module>