<?xml version="1.0" encoding="utf-8"?>
<module>
<name>Network Tools</name>
<version>100</version>
<default-cat>Advanced</default-cat>
<desc>You can use the tools below to diagnose issues or to simply test connectivity to other servers or sites around the globe.</desc>
<authorname>ZPanel Project</authorname>
<authoremail>developers@zpanelcp.com</authoremail>
<authorurl>http://www.zpanelcp.com/</authorurl>
<updateurl>http://www.zpanelcp.com/uds/core.xml</updateurl>
</module>