<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Domains</name>
    <version>100</version>
    <defaultcat>Domain Management</defaultcat>
    <desc>This module enables you to add or configure domain web hosting on your account.</desc>
    <authorname>ZPanel Project</authorname>
    <authoremail>developers@zpanelcp.com</authoremail>
    <authorurl>http://www.zpanelcp.com/</authorurl>
    <updateurl>http://www.zpanelcp.com/uds/core.xml</updateurl>
</module>