<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Webalizer Stats</name>
    <version>100</version>
    <type>user</type>
    <defaultcat>Advanced</defaultcat>
    <desc>You can view many statistics such as visitor information, bandwidth used, referral information and most viewed pages etc. Web stats are based on Domains and sub-domains so to view web stats for a particular domain or subdomain use the drop-down menu to select the domain or sub-domain you want to view web stats for.</desc>
    <authorname>Sentora Project</authorname>
    <authoremail>info@sentora.org</authoremail>
    <authorurl>http://sentora.org/</authorurl>
    <updateurl>http://store.sentora.org/version.xml</updateurl>
</module>